<ng-container *ngIf="(itemWithQuantity$ | async) as itemsWithQuantity">
  <div class="product-card" *ngFor="let item of itemsWithQuantity">
    <h3>{{ item.item.name }}</h3>
    <div class="price-info">
      <div class="offer" *ngIf="item.item.currentOffer">
        {{ item.item.currentOffer.quantity }} for {{ item.item.currentOffer.finalPrice }}€
      </div>
      <div class="regular-price">
        1 for {{ item.item.currentPriceValue }}€
      </div>
    </div>
    <div class="actions">
      <button class="btn-add" (click)="addToCart(item.item)">Add</button>
      <button
          class="btn-remove"
          (click)="removeFromCart(item.item)"
          [disabled]="item.quantity === 0">
        Remove
      </button>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="loading">
    <p>Loading products...</p>
  </div>
</ng-template>